apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
  namespace: flask-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flask-app
  template:
    metadata:
      labels:
        app: flask-app
    spec:
      containers:
        - name: flask-app
          image: 585008079552.dkr.ecr.ap-south-1.amazonaws.com/flask-mysql-app:latest
          ports:
            - containerPort: 5000
          env:
            - name: MYSQL_HOST
              valueFrom:
                configMapKeyRef:
                  name: flask-config
                  key: MYSQL_HOST

            - name: MYSQL_NAME
              valueFrom:
                configMapKeyRef:
                  name: flask-config
                  key: MYSQL_NAME

            - name: MYSQL_USER
              valueFrom:
                configMapKeyRef:
                  name: flask-config
                  key: MYSQL_USER

            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: MYSQL_PASSWORD
