- name: Install and configure Docker
  hosts: tools
  become: true

  tasks:
    - name: Install required packages
      apt:
        name:
          - ca-certificates
          - curl
          - gnupg
          - unzip
        state: present
        update_cache: yes

    - name: Install Docker
      apt:
        name:
          - docker.io
        state: present

    - name: Start and enable Docker
      service:
        name: docker
        state: started
        enabled: true

    - name: Add ubuntu user to docker group
      user:
        name: ubuntu
        groups: docker
        append: yes
